*{
    color: #ffffff;
    font-style: oblique;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #54547e;
    animation-name: example;
    animation-duration: 8s;
    animation-name: example1;
    animation-duration: 8s;
}
.title-container{
    text-align: center;
    font-style: italic;
    width: 410px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0ea701;
    position: relative;
    border-bottom:solid 1px #020249;
    animation: mymove 5s ;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  
}
.key-container{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}
.game-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.key-container button{
    width: 40px;
    height: 38px;
    border-radius: 3px;
    border:none;
    background-color: #818384;
    margin: 0.92px;
    cursor: pointer;
    font-size: large;
    
    transition-duration: 2.4s;
}
.key-container button:hover {
    background-color: #b59f3a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.79);
    transition: transform .3s ease-in-out;
}

.key-container button:nth-child(30){
    margin-left: 80px;

}
.key-container button:nth-child(1){
    margin-left: 42px;

}
.key-container button:nth-child(30),
.key-container button:nth-child(31){
    width: 68px;
}
.tile-container div{
    display:flex;
   
}
.tile-container .tile{
    width: 64px;
    height: 62px;
    border: 2px solid #087c0d;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.message-container{
   height:0px;
}

.message-container p {
    
    width: 130px;
    height: 50px;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: x-large;
    margin-left: -245px;
    text-align: center;
    background-color: red;
    position: relative;
    animation-name: example3;
    animation-duration: 8s;
 
  }
.grey-overlay{
    background-color: #3a3a3c;
    border: none !important;
}
.yellow-overlay{
    background-color: #b59f3a;
    border: none !important;

}
.green-overlay{
    background-color: #538d4e;
    border: none !important;
}
.tile.flip {
    animation: 0.5s linear flipping;
}
@keyframes flipping{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
@keyframes example {
    from {background-color: #121213;}
    to {background-color: rgb(204, 24, 150);}
  }
  @keyframes example1 {
    from {background-color: rgb(168, 10, 155);}
    to {background-color:#121213 ;}
  }
  @keyframes mymove {
    from {left: -600px;}
    to {left: 0px;}
  }
  @keyframes example3 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:rgb(85, 85, 12); left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:rgb(116, 17, 17); left:0px; top:0px;}
  }
  button.selected{
    background-color: #881708;
  }
  #message{
    background-color: rgba(0, 0,0, 0.3);
    font-size: 20px;
    border-radius: 5px;
    position: absolute;
    padding: 10px 80px;
    bottom: -80px;
    transition:transform 0.4s ease-in-out;
}
#message.show{
    transform: translateY(-80px);
}